.white {
    color: white;
}


.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    /* z-index: 1; */

    /* The image used */
    background-image: url("/img/miami.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}


.navbar {
    margin-top: 0px !important;
}

.ui.header {
    color: #34495e;
}

.ui.table {
    color: rgba(0, 0, 0, .65);
}

.ui.table thead th {
    color: #7f8c8e;
}

.divider {
    width: 100%;
    background-color: #eee;
}

.border.right {
    border-right: 1px solid #eee;
}

.border.left {
    border-left: 1px solid #eee;
}


.margin-left.half {
    margin-left: 0.5em;
}

/* ----------- */
/* Margin Top */
/* ----------- */
.margin.top.one {
    margin-top: 1em;
}

.margin.top.one.and.half {
    margin-top: 1.5em;
}

.margin.top.two {
    margin-top: 2em;
}

.margin.top.two.and.half {
    margin-top: 2.5em;
}

.margin.top.seven {
    margin-top: 7em;
}


.uppercase {
    text-transform: uppercase;
}


/* ----------- */
/* Margin Bottom */
/* ----------- */
.margin.bottom.two {
    margin-bottom: 2em;
}


/* ----------- */
/* Width */
/* ----------- */
.width.one.and.eight {
    width: 1.4em;
}

/* CHANGE THIS TO CHANGE THE COLOR */
.gradient.emerald {
    background: #348F50 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56B4D3, #348F50) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56B4D3, #348F50) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buy-amount {
    background: white !important;
    margin-top: 10px !important;
}

.center-larger {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-warning {
    color: black;
    text-align: center;
    display: none;
}

.instruct-pic {
    margin-top: 10px;
}

.opacity {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 5px;
}

.opacity:hover {
    background-color: rgba(0, 0, 0, .4);
}

.small {
    font-size: 0.5em;
}

.button.price {

    padding-right: 15px !important;
    padding-left: 15px !important;

}

.small.eleven {
    font-size: 10px !important;
}

.no.click {
    cursor: default;
}


/*
    SCHEMA
*/
.ui.green.label {
    border-color: #348F50 !important;
    background-color: #348F50 !important;
}

.ui.green.button {
    background-color: #348F50;
}

.ui.email.button {
    background-color: #48a59d !important;
}

.ui.email.button:hover {
    background-color: #347771 !important;
}


.participate {
    background-color: #348F50 !important;
    margin-bottom: 10px !important;
}

.ui.green.button:hover {
    background-color: #235f35 !important;
}

.ui.basic.green.button {
    background-color: transparent;
    box-shadow: 0 0 0 1px #348F50 inset;
    color: #348F50;
}

.ui.orange.button:hover {
    background-color: #994712 !important;
}


i.green.icon {
    color: #348F50 !important;
}

.ui.green.text {
    color: #348F50;
}


.ui.teal.button {
    background-color: #48a59d;
}

.ui.teal.button:hover {
    background-color: #347771;
}

.ui.teal.text {
    color: #48a59d;
}


.ui.blue.label {
    border-color: #56B4D3 !important;
    background-color: #56B4D3 !important;
}

.ui.blue.button {
    background-color: #56B4D3;
}

.ui.blue.button:hover {
    background-color: rgb(62, 128, 150);
}

.ui.basic.blue.button {
    background-color: transparent;
    box-shadow: 0 0 0 1px #56B4D3 inset;
    color: #56B4D3;
}

i.blue.icon {
    color: #56B4D3 !important;
}

.ui.blue.text {
    color: #56B4D3;
}

.link.masternode {
    font-size: .9em;
}

.title {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.green {
    color: #61c87a;
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, .60)
}

.sponsor {
    text-align: center;
}

.changelly {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.agreement {
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

.onboard {
    padding: 10px;
}

.custom {
    max-width: 20%;
}

.etc-logo {
    margin-top: 20px;
}

.etc-small {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.ui.primary.basic.button.copy {
    padding-left: 7px;
    padding-right: 0px;
}

.ui.primary.basic.button:hover {
    background-color: rgba(72, 165, 157, .2) !important;
}

.qtip-content {
    background-color: white;
}

.instruction {
    text-align: left;
}

.faq {
    color: black;
    max-width: 49rem;
    padding: 2rem;
    margin: auto;
    font-size: 20px;
}

.disclaimer {
    font-size: 14px;
}

.reinvest {
    padding-top: 10px;
}

.saturn {
    max-width: 40% !important;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.portfolio#portfolioButton {
    margin-left: 10px;
    display: inline;
    font-size: .6em;
}

.green {
    color: green;
}

.red {
    color: red;
}

.main-stats {
    padding-top: 0px !important;
}

.stats.icon {
    margin-right: 7px;
    display: inline;
}

.feature-title {
    margin-top: 5px !important;
}

.airdrop {
    font-size: initial;
}

.alert-text {
    text-align: center;
}

.coinbase-override {
    font-size: 1.14285714rem !important;
    font-family: Lato !important;
    margin-bottom: 10px;
}


/* Mobile */
@media only screen and (max-width: 989px) {

    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="custom-computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 990px) and (max-width: 991px) {

    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="custom-computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
        display: none !important;
    }
}

/* custom-computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) {

    [class*="mobile only"]:not(.custom-computer),
    [class*="tablet only"]:not(.custom-computer),
    [class*="custom-computer hidden"],
    [class*="large screen only"]:not(.custom-computer),
    [class*="widescreen only"]:not(.custom-computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
    }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]: not([class*="large screen"]),
        [class*="tablet only"]:not([class*="large screen"]),
        [class*="custom-computer only"]:not([class*="large screen"]),
        [class*="large screen hidden"],
        [class*="widescreen only"]:not([class*="large screen"]),
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    [class*="mobile only"]: not([class*="widescreen"]),
        [class*="tablet only"]:not([class*="widescreen"]),
        [class*="custom-computer only"]:not([class*="widescreen"]),
        [class*="large screen only"]:not([class*="widescreen"]),
        [class*="widescreen hidden"]
}