--yt-live-chat-primary-text-color: aqua !important;
--yt-primary-text-color: aqua !important;
--yt-live-chat-secondary-text-color: gold !important;
--yt-live-chat-emoji-size: 48px !important;
--yt-live-chat-background-color: rgb(0,0,0,0) !important;
--yt-live-chat-header-background-color: !important;
--yt-live-chat-action-panel-background-color: !important;
--yt-live-chat-text-input-field-placeholder-color:  aqua !important